 <div class="container">
  <%= simple_form_for @company_code do |f| %>
      <%= f.input :cocod, label: "Company code" %>
      <%= f.input :entity, label: "Entity name" %>
      <%= f.submit %>
    <% end %>
</div>
